@import 'css/sass/mixins.scss';

.search {
  @include form-reset;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  box-sizing: border-box;
  margin-right: 25px;
}

.search__field {
  // position: absolute;
  // top: 0;
  // right: 23px;
  width: 0;
  height: 100%;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: text-top;
  outline: none;
  transition: width var(--instantAnimation) ease-in-out;
  transform-origin: right;

  &::-webkit-search-cancel-button {
    display: none;
  }

  &--expanded {
    width: auto;
    border-bottom: 1px solid var(--greyDark);
    animation: var(--fastAnimation) linear both expand-left;
  }

  &--collapsed {
    max-width: 0;
    animation: var(--fastAnimation) linear both collapse-right;
  }
}

.search__icon {
  display: inline-block;
  fill: var(--black);
  cursor: pointer;
  transition: var(--trans);

  &:hover,
  &:focus {
    fill: var(--gold);
  }

  &:active {
    fill: var(--gold);
    fill-opacity: 0.5;
  }
}

.search__btn {
  @include btn-reset;

  &:focus,
  &:hover {
    & .search__icon {
      fill: var(--gold);
    }
  }

  &:active {
    & .search__icon {
      fill: var(--gold);
      fill-opacity: 0.5;
    }
  }
}

@media (max-width: 450px) {
  .search {
    margin-right: 15px;
  }

  .search__title {
    display: flex;
    flex-grow: 1;
  }

  .search__field {
    position: static;
    display: flex;

    &--expanded {
      flex-grow: 1;
      width: auto;
      max-width: unset;
    }
  }
}
