@import 'css/sass/screens.scss';

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 26px 38px;
  border: none;
  font-family: 'roboto', 'Verdana', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  appearance: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--grey {
    background-color: #444240;
  }

  &--beige {
    background-color: #d4b098;
  }
}

@media (max-width: $tablet-width) {
  .btn {
    padding: 20px 30px;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: $mobile-width) {
  .btn {
    padding: 18px 25px;
  }
}
