@import 'css/sass/mixins.scss';
@import 'css/sass/screens.scss';

@media (min-width: 1500px) {
  .promo__image {
    left: 40%;
  }
}

.promo__wrap {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  padding-top: 145px;
  padding-bottom: 145px;
}

.promo__socials {
  z-index: 1;
  margin: 96px 47px 127px 0;
}

.promo__social-list {
  flex-direction: column;
}

.promo__collection {
  position: relative;
  z-index: 1;
  width: 340px;
  padding-left: 65px;

  &::before {
    position: absolute;
    content: '';
    top: 30px;
    left: 4px;
    width: 50px;
    border-bottom: 1px solid #8b8371;
  }
}

.promo__title {
  @include playfair-r;

  margin: 0;
  font-size: 45px;
  line-height: 60px;
  color: var(--black);
}

.promo__subtitle {
  @include playfair-r;

  display: inline-block;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40px;
  color: var(--black);
}

.promo__desc {
  @include roboto-l;

  width: 265px;
  margin-bottom: 58px;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
}

.promo__slider {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 0 !important;
  width: 100vw;
  max-width: 100%;
  height: var(--sliderHeight);

  & .slick-list {
    height: 100%;
  }

  & .slick-track {
    height: 100%;
  }

  & .slick-arrow {
    display: none !important;
  }
}

.promo__list {
  @include list-reset;
}

.promo__item {
  position: absolute;
  bottom: 60px;
  left: 38.33%;
  width: 785px;
  height: 830px;

  & img {
    z-index: 0;
    object-fit: contain !important;
  }
}

.promo__price {
  @include prata;

  position: absolute;
  content: '';
  top: 150px;
  left: 200px;
  z-index: 2;
  font-size: var(--promoFont);

  &::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -70%;
    width: 35px;
    height: 1px;
    background-color: var(--black);
    transform: translateY(-50%);
  }
}

.promo__currency {
  width: 10px;
  height: 13px;
  margin-left: 0.5rem;
}

.promo__diameter {
  @include prata;

  position: absolute;
  content: '';
  bottom: 150px;
  right: 85px;
  z-index: 2;
  font-size: var(--promoFont);

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -50%;
    width: 35px;
    height: 1px;
    background-color: var(--black);
    transform: translateY(-50%);
  }
}

@media (max-width: 1260px) {
  .promo__item {
    left: unset;
    top: 120px;
    right: 5%;
    bottom: unset;
    width: 520px;
    height: 620px;
  }

  .promo__price {
    top: 135px;
    left: 90px;
  }

  .promo__diameter {
    bottom: 135px;
    right: 10px;
  }
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .promo__wrap {
    min-height: 300px;
    padding-bottom: 85px;
  }

  .promo__socials {
    position: relative;
    z-index: 15;
    margin-right: 10.2%;
  }

  .promo__collection {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .promo__title {
    font-size: 35px;
    line-height: 51px;
  }

  .promo__subtitle {
    font-size: 26.5px;
    line-height: 36px;
  }

  .promo-slider {
    top: 30px;
  }

  .promo__item {
    top: 40px;
    width: 520px;
    height: 550px;
  }

  .promo__currency {
    width: 10px;
    height: 11px;
  }

  .promo__btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 920px) {
  .promo__item {
    right: 2%;
  }
}

@media (max-width: 850px) {
  .promo__socials {
    margin-right: 5%;
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .promo__slider {
    left: 50%;
    transform: translateX(-50%);
  }

  .promo__wrap {
    flex-direction: column;
    align-items: flex-start;
    min-height: 360px;
    padding: 65px 4.78% 0;
  }

  .promo__socials {
    margin: 0 0 135px 0;
  }

  .promo__collection {
    width: auto;
  }

  .promo__title {
    font-size: var(--titleSize);
    line-height: var(--titleHeight);
  }

  .promo__subtitle {
    margin-bottom: 0;
    font-size: 21.5px;
    line-height: 30px;
  }

  .promo__desc {
    width: 230px;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .promo__item {
    top: 60px;
    left: unset;
    right: 4.78%;
    width: 378px;
    height: 453px;
  }

  .promo__price {
    top: 90px;
    left: 60px;

    &::after {
      width: 20px;
      right: -50%;
    }
  }

  .promo__diameter {
    bottom: 100px;
    right: 0;

    &::before {
      left: -40%;
      width: 20px;
    }
  }

  .promo__currency {
    width: 8px;
    height: 10px;
  }
}

@media (max-width: 530px) {
  .promo__item {
    right: 2%;
  }
}

@media (max-width: 490px) {
  .promo__collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px auto 0;
  }

  .promo__title {
    text-align: center;
  }

  .promo__subtitle {
    display: block;
    text-align: center;
  }

  .promo__desc {
    width: auto;
    max-width: 230px;
    text-align: center;
  }

  .promo__btn {
    margin: 0 auto;
  }

  .promo__item {
    top: 25px;
    right: unset;
    left: 50%;
    transform: translate(-50%);
    width: 302px;
    height: 362px;
  }

  .promo__price {
    top: 72px;
    left: 35px;
  }

  .promo__diameter {
    bottom: 0;
    right: -8px;
  }

  .promo__slider {
    overflow: hidden;
  }
}

@media (max-width: 410px) {
  .promo__item {
    width: 290px;
  }
}

@media (max-width: 320px) {
  .promo__item {
    left: 0;
    right: 0;
    width: 100vw;
    min-width: 250px;
    transform: unset;
  }

  .promo__price {
    display: none;
  }

  .promo__diameter {
    display: none;
  }
}

@media (max-width: 280px) {
  .promo__slider {
    left: 0;
    min-width: 280px;
    transform: unset;
  }
}
