body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 280px;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  color: #1b1a17;
  background-color: var(--lightBeige);
}

main {
  flex: 1 0 auto;
}

header,
footer {
  flex-shrink: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
