@import 'screens.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0 auto;
  width: 92%;

  &--card {
    flex-direction: column;
    flex-wrap: unset;
  }
}

@media (max-width: $tablet-width) {
  .container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $mobile-width) {
  .container {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
    width: 100%;
  }
}
