@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  border: none;
  box-sizing: content-box;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

@mixin center {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin form-reset {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: middle;
  color: inherit;
  white-space: normal;
  background: none;
  border: 0;
  appearance: none;
}

@mixin roboto-r {
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
}

@mixin roboto-l {
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 300;
}

@mixin roboto-b {
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 600;
}

@mixin prata {
  font-family: 'Prata', 'Garamond', serif;
  font-weight: 400;
}

@mixin playfair-r {
  font-family: 'Playfair Display', 'Garamond', serif;
  font-weight: 400;
}

@mixin playfair-b {
  font-family: 'Playfair Display', 'Garamond', serif;
  font-weight: 600;
}

@mixin title {
  margin: 0;
  font-family: 'Playfair Display', 'Garamond', serif;
  font-weight: 400;
  font-size: var(--titleSize);
  line-height: var(--titleHeight);
  color: var(--black);
}
