@import 'css/sass/mixins.scss';
@import 'css/sass/screens.scss';

.menu {
  z-index: 3;
}

.menu__btn {
  display: none;
  width: 18px;
  height: 16px;
  margin-top: 2px;
}

.menu__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  background-color: #fdfdfb;
}

.menu__item {
  margin-right: 65px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.menu__page-link {
  @include roboto-r;

  display: block;
  padding: 5px 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--greyNormal);
  transition: var(--trans);
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    color: #a69876;
  }
}

.menu__socials {
  display: none;
}

.main-menu__social-list {
  flex-direction: column;
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .menu__wrap {
    &--fullscreen {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100vw;
      height: auto;
      padding: 36px 2% 31px;
      box-sizing: border-box;
      background-color: var(--lightBeige);
    }
  }

  .menu__item {
    margin-right: 45px;
    margin-bottom: 48px;
  }

  .menu__btn {
    display: block;
  }

  .menu__list {
    display: flex;
    flex-direction: column;
    margin: 170px auto 45px;
    text-align: center;

    & .menu__item {
      margin-right: 0;
    }
  }

  .menu__page-link {
    font-size: 24px;
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .menu__btn {
    display: block;
  }

  .menu__list {
    margin-top: 95px;
    box-sizing: border-box;
  }

  .menu__page-link {
    font-size: 22px;
  }
}

.menu--shown ~ .page-header__user-section {
  margin-right: 39px;
}

.dropdown-enter {
  animation: expand 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.dropdown-exit {
  animation: collapse 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.roll-enter {
  height: auto;
}

.roll-enter-active {
  height: 50vh;
  transition: height 150ms linear;
}

.roll-enter-done {
  height: 100vh;
  transition: height 150ms linear;
}

.roll-exit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  padding: 36px 2% 31px;
  box-sizing: border-box;
  background-color: var(--lightBeige);
  transition: height 1500ms linear;
}

.roll-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  height: 50vh;
  padding: 36px 2% 31px;
  box-sizing: border-box;
  background-color: var(--lightBeige);
  transition: height 1500ms linear;
}

.roll-exit-done {
  position: static;
  height: auto;
}
